default_layout "compact"

layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
	pane split_direction="Vertical" {
		pane size="50%" command="opencode"
		pane split_direction="Horizontal" {
			pane
		}
	}
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
